.imgClass {
    height: 250px;
    width: 400px;
    padding-top: 5px;
    /* padding-left:0%; */
 }
 .appClass{
   background-color:white;
   width: 90vw;
   max-width: 1170px;
   margin:5rem auto;
   display: grid;
   gap: 2rem;
   border-color: cadetblue;
  
 }
 .TitleClass{
     font-size: 14px;
     font-weight: 500;
     margin-top: 15px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
   text-align: center;
 }
 *{
   margin:0;
   padding:0;
   box-sizing:border-box;
 }
 @media screen and (min-width:768px) {
   
   .appClass{
     grid-template-columns: repeat(3,1fr);
   }
 }
 .inputClass{
     padding: 0 16px;
     padding-top: 20px;
     border-radius: 2px 0 0 2px;
     border: 200px;
     outline: 0 none;
     font-size: 30px;
     height: 36px;
     width: 100%;
     text-align: center;
     
 }
 .buttonClass {
   margin-left: 5px;
   padding: 2px;
   border: 2px solid cadetblue;
   border-radius: 5px;
   font-size: small;
   font-style: oblique;
   box-shadow: 1px 1px cadetblue;
   background-color: darkseagreen;
 
 }
